:root {
    --cinza-ligth: rgb(236, 236, 236);
    --chumbo: rgb(85, 85, 85);
    --azul: rgb(101, 136, 170);
    --branco: rgb(255, 255, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--cinza-ligth);
}


.navbar {
    display: flex;
    gap: 34px;
}

.quem-somos {
    background-color: var(--azul);
    color: var(--branco)
}

.parceiros {
    background-color: var(--chumbo);
    color: var(--branco)
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

#time {
    margin: 20px;
}

.bg-footer {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}